<div class="vig-content">
  <span class="vig-brief">
    <span class="vig-coin-text">Vig Coin：</span>通用的可接入互联网加密币</span>
</div>

<div class="container">
  <p class="what-vig-text">
    <span class="vig-coin-text">Vig Coin</span> 是一个为服务于个人、小型企业或者小型组织创建的币,目标是提供方便的自带点对点交易能力的币。
  </p>
  <div>
    <span class="text-green-title">Vig Coin基本目标是 :</span>
    <ol>
      <li>作为一个基本的支付手段</li>
      <li>提供自带去中心，点对点交易所的能力</li>
      <li>提供可能的仲裁，防骗能力，让交易更加的安全</li>
      <li>提供基于Vig Coin的方便的支付与接收API与SDK</li>
      <li>在合法的情况下，提供与法币的交易能力</li>
    </ol>
  </div>
</div>

<hr>

<div class="container">
  <div class="row text-red">
    <div class="col-sm digital-coin">
      <h1 class="text-danger-title">交易应该能不受限制的发生</h1>
      <p>
        由于交易所模式会导致交易所上的交易都是基于交易所内部的，这种交易模式存在很大的问题。
      </p>
      <ol>
        <li>
          交易者的资产不受法律保护,交易所出问题很容易导致资产受损
        </li>
        <li>
          方便了黑客的入侵，因为币与私钥都保存在交易所，极容易导致黑客入侵造成损失。资产的安全性极差。
        </li>
        <li>
          交易的法币提现极不方便，多数交易所要求提示时提供各种复杂的手续，除了容易泄漏个人隐私外，并不见得能带来任何的好处。
        </li>
      </ol>
    </div>
    <div class="col-sm">
      <h1 class="text-danger-title">加密币应该是一种支付手段</h1>
      <p>
        加密币不是股票，也不是传销，它应该是一种支付手段。从比特币出来，到以太坊的出现，加密币成了圈钱、传销者们的主要工具，越来越脱离货币的本质。vig coin旨在进一步推动加密币成为现实的货币。
      </p>
      <ol>
        <li>
          提供面对面的实物交易的能力。
        </li>
        <li>
          降低交易费用
        </li>
        <li>
          提供个人或者小规模经济体的接入API，降低应用加密币的成本
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="balck-div">
  <div class="container">
    <p class="text-green-title">钱包下载</p>
    <div class="download-wallet-view">
      <a class="download-button" href="https://github.com/vigcoin/wallet/releases/download/1.0.0-a1/vigcoin-windows-64.zip" target="_blank">
        <i class="fab fa-windows"></i>
        Windows 64
        <i class="fas fa-download"></i>
      </a>
      <a class="download-button" href="https://github.com/vigcoin/wallet/releases/download/1.0.0-a1/vigcoin-linux-64.zip" target="_blank">
        <i class="fab fa-linux"></i>
        Linux 64
        <i class="fas fa-download"></i>
      </a>
      <a class="download-button" href="https://paper-wallet.vigcoin.org/" target="_blank">
        <i class="fas fa-magnet"></i>
        简易生成钱包
        <i class="fas fa-link"></i>
      </a>
      <!-- <a class="download-button" href="https://github.com/vigcoin/wallet" target="_blank">
        源代码
        <i class="fas fa-download"></i>
      </a> -->
    </div>
  </div>
</div>

<div class="container get-vig-method">
  <h1 class="text-blue-title">获取方法</h1>
  <div>
    <p>
      Vig Coin的获取方法主要有两种。1、通过挖矿获取；2、通过购买获取。
    </p>
    <p>
      挖矿一般需要有矿池的支持，我们的官方矿池：
      <a href="http://pools.vigcoin.org">http://pools.vigcoin.org/#/home</a> ， 在挖矿之前需要下载钱包。
    </p>
  </div>
</div>
<div class="balck-div">
  <div class="container">
    <h1 class="text-green-title">Vig Coin项目计划</h1>
    <p>
      理论上vig coin并不会有一个非常准确的计划，因为vig coin是一个开源的，去中心的币，所以它的运营主要是看社区的发展情况来确定的。但是Vig Coin有几个发展的基本目标。
    </p>
    <ol>
      <li>
        实现点对点，面对面的交易
      </li>
      <li>
        实现类似微信的API，供小企业或者个人使用
      </li>
    </ol>
  </div>
</div>

<div class="container contact" name="contact">
  <h1 class="text-blue-title">交流与联系</h1>
  <a href="https://discord.gg/dWWDFKb">
    <i class="fab fa-discord fa-3x"></i>
  </a>
</div>
