<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Vig Coin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">首页 <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">白皮书</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">计划</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">钱包</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">参与/联系方式</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://forum.webfullstack.me">论坛</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://forum.webfullstack.me">源码</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="搜索">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4">Vig Coin</h1>
  <p class="lead">Vig Coin是一个为了服务于个人、小型企业或者组织创建的币；同时方便点对点的小型交易。</p>
  <hr class="my-4">
  <h4>
    由于交易所模式会导致交易所上的交易都是基于交易所内部的，这种交易模式最大的问题是容易导致交易内幕交易，监守自盗，也是也方便了黑客的入侵。导入资产安装性极差。 所以Vig币的目标就是消除当前交易所模式的问题，通过P2P直接交易的方式让加密币的拥有者可以不基于交易所就能直接交易。
  </h4>
  <hr class="my-4">

  <ul>
    它所想要实现目标:
    <ol>作为一个基本的支付手段</ol>
    <ol>提供自带去中心，点对点交易所的能力</ol>
    <ol>提供可能仲裁的能力，让交易更加的安全</ol>
    <ol>提供基于Vig Coin的方便的支付与接收API与SDK</ol>
    <ol>在合法的情况下，提供与法币的交易能力</ol>
  </ul>
</div>

<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-sm text-center">
      Windows 64
    </div>
    <div class="col-sm text-center">
      Linux 64 (Ubuntu)
    </div>
  </div>
</div>