<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Vig Coin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">首页 <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#white-paper">白皮书</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#plan">计划</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#wallet">钱包</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">交流与联系</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://forum.webfullstack.me">论坛</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://github.com/vigcoin/coin">源码</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="搜索">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4">Vig Coin</h1>
  <p class="lead">Vig Coin是一个为了服务于个人、小型企业或者组织创建的币；同时以提供方便的自带点对点交易为目标。</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4>
        由于交易所模式会导致交易所上的交易都是基于交易所内部的，这种交易模式存在很大的问题。
      </h4>
      <ol>
        <li>
          交易者的资产不受法律保护,交易所出问题很容易导致资产受损
        </li>
        <li>
          方便了黑客的入侵，因为币与私钥都保存在交易所，极容易导致黑客入侵造成损失。资产的安全性极差。
        </li>
        <li>
          交易的法币提现极不方便，多数交易所要求提示时提供各种复杂的手续，除了容易泄漏个人隐私外，并不见得能带来任何的好处。
        </li>
      </ol>
    </div>
    <div class="col-sm">
      <h4>
        从比特币出来，到以太坊的出现，加密币成了圈钱，传销者们的主要工具，越来越脱离货币的本质。vig coin旨在进一步推动加密币成为现实的货币。
      </h4>
      <ol>
        <li>
          提供面对面的实物交易的能力。
        </li>
        <li>
          降低交易费用
        </li>
        <li>
          提供个人或者小规模经济体的接入API，降低应用加密币的成本
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <ol>
        综上所述，vig coin的基本目标:
        <li>作为一个基本的支付手段</li>
        <li>提供自带去中心，点对点交易所的能力</li>
        <li>提供可能的仲裁，防骗能力，让交易更加的安全</li>
        <li>提供基于Vig Coin的方便的支付与接收API与SDK</li>
        <li>在合法的情况下，提供与法币的交易能力</li>
      </ol>
    </div>
    <div class="col-sm-3">
    </div>
  </div>

  <div class="row">
    <h1>获取方法</h1>
  </div>
  <div>
    <p>
      Vig Coin的获取方法主要有两种。1、通过挖矿获取；2、通过购买获取。
    </p>
    <p>
      挖矿一般需要有矿池的支持，我们的官方矿池：<a href="http://vig.tyk.im">http://vig.tyk.im</a> 。
      在挖矿之前需要下载钱包，钱包的下载地址见下面的链接。
    </p>
  </div>
  <div class="row" name="wallet">
    <h1>钱包</h1>
  </div>
  <div class="row">
    <div class="col-sm text-center big">

      Windows 64<br/>
      <i class="fab fa-windows"></i>
    </div>
    <div class="col-sm text-center big">
      Linux 64 (Ubuntu)<br/>
      <i class="fab fa-linux"></i>
    </div>
  </div>

  <div class="row">
    <div class="col-sm text-center big">
      <a href="https://github.com/vigcoin/wallet/releases/download/1.0.0-a1/vigcoin-windows-64.zip" target="_blank"><i class="fas fa-download"></i></a>
    </div>
    <div class="col-sm text-center big">
      <a href="https://github.com/vigcoin/wallet/releases/download/1.0.0-a1/vigcoin-linux-64.zip" target="_blank"><i class="fas fa-download"></i></a>

    </div>
  </div>

  <div class="row">
    <h1>vig coin计划</h1>
  </div>
  <div class="row">
    <p>
      理论上vig coin并不会有一个非常准确的计划，因为vig coin是一个开源的，去中心的币，所以他的运营主要是看社区的发展情况来确定的。但是vig coin有几个发展路线的顺序。
    </p>
    <ol>
      <li>
        实现点对点，面对面的交易
      </li>
      <li>
        实现类似微信的API
      </li>
    </ol>
  </div>

  <div class="row" name="contact">
    <h1>交流与联系</h1>
  </div>
  <div class="row">
    <div class="col-sm big">
      <a href="https://discord.gg/dWWDFKb"><i class="fab fa-discord"></i></a>
    </div>
  </div>
</div>

<footer>
  <p class="text-center">
    &copy; 2018年1月
  </p>
</footer>