<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Vig Coin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">首页 <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#white-paper">白皮书</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#plan">计划</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#wallet">钱包</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">交流与联系</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://forum.webfullstack.me">论坛</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://github.com/vigcoin/coin">源码</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="搜索">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>

<footer>
  <p class="text-center">
    &copy; 2018年1月
  </p>
</footer>
